
@font-face { font-family: Nilland; src: url('../fonts/nilland/Nilland-Bold.ttf'); }
@font-face { font-family: Nilland; font-weight: bold; src: url('../fonts/nilland/Nilland-Black.ttf');}

body{
  font-family: "Nilland";
}

/*PRUEBA DE LA OPCION TRANSICION DE CSS3*/
 .prueba_transicion{
   -webkit-transition: all 0.25s linear 0s;

 }

/*PRUEBA DE LA OPCION TRANSICION DE CSS3*/
.prueba_transicion:hover{
  transform: scale(1.25, 1.25);
  z-index: 2;

}

a{
  color: black
}

#fb-icon:hover{
  color:#3b5998
}

#fb-icon:focus{
  color:#3b5998
}

#instagram-icon:hover{
  color:#fb3958
}

#instagram-icon:focus{
  color:#fb3958
}

#youtube-icon:hover{
  color:#e52d27
}

#youtube-icon:focus{
  color:#e52d27
}

@media (max-width: 352px) {
    #logo-contacto{padding-top:30px}
    #telefono{font-size: 18px; padding:0px; padding-top:50px; padding-left: 30px }
    #logo-contacto{min-width: 50px}
    #quienes-background{height: 100px}

}


@media (min-width: 352px) {
    #logo-contacto{padding-top:35px}
    #telefono{font-size: 22px; padding:0px; padding-top:55px; padding-left: 25px }
    #icons{padding-top: 0px}
    #quienes-background{height: 125px}
}

@media (min-width: 419px) {
    #logo-contacto{padding-top:15px}
    #telefono{font-size: 25px; padding:0px; padding-top:35px; padding-left: 0px }
    #icons{padding-top: 0px}
    #quienes-background{height: 150px}

}

@media (min-width: 500px) {
    #logo-contacto{padding-top:15px}
    #telefono{font-size: 30px; padding:0px; padding-top:35px; padding-left: 0px }
    #icons{padding-top: 0px}
    #quienes-background{height: 190px}

}

@media (min-width: 616px) {
    #logo-contacto{padding-top:0px; padding:0px; padding-left: 20px}
    #telefono{font-size: 30px; padding:0px; padding-top:30px;padding-left:15px;}
    #icons{padding-top: 25px}
    #quienes-background{height: 230px}
}

@media (min-width: 800px) {
    #logo-contacto{padding-top:0px; padding:0px; padding-left: 20px}
    #telefono{font-size: 30px; padding:0px; padding-top:30px;padding-left:15px;}
    #icons{padding-top: 25px}
    #quienes-background{height: 300px}
}


@media (min-width: 991px) {
    #logo-contacto{padding-top:0px}
    #telefono{font-size: 35px; padding:0px; padding-top:20px;padding-left:0px;}
    #icons{padding-top: 0px; font-size: 65px; padding-bottom: 30px}
    #quienes-background{height: 370px}
}

@media (min-width: 1199px) {
    #logo-contacto{padding-top:0px}
    #telefono{font-size: 35px; padding:0px; padding-top:20px;padding-left:0px;}
    #icons{padding-top: 0px; font-size: 65px; padding-bottom: 30px}
    #quienes-background{height: 450px}
}

@media (min-width: 1450px) {
    #logo-contacto{padding-top:0px}
    #telefono{font-size: 35px; padding:0px; padding-top:20px;padding-left:0px;}
    #icons{padding-top: 0px; font-size: 65px; padding-bottom: 30px}
    #quienes-background{height: 550px}
}

@media (min-width: 1770px) {
    #logo-contacto{padding-top:0px}
    #telefono{font-size: 35px; padding:0px; padding-top:20px;padding-left:0px;}
    #icons{padding-top: 0px; font-size: 65px; padding-bottom: 30px}
    #quienes-background{height: 600px}
}