
@font-face { font-family: Nilland; src: url('fonts/nilland/Nilland-Black.ttf'); }
@font-face { font-family: Nilland; font-weight: bold; src: url('fonts/nilland/Nilland-Bold.ttf');}

body{
  font-family: "Nilland";
}

/*PRUEBA DE LA OPCION TRANSICION DE CSS3*/
 .prueba_transicion{
   -webkit-transition: all 0.25s linear 0s;

 }

 /*PRUEBA DE LA OPCION TRANSICION DE CSS3*/
  .prueba_transicion:hover{
    transform: scale(1.25, 1.25);
    z-index: 2;

  }

  #quienes{
    background-image: url("/img/pezquienes.png");
  }

#contactoimg{
  width: 149%
}
